<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redis.demo.breakdown.server.mapper.ItemMapper">

    <!--
        private Integer id;
        private String code;
        private String name;
        private String createTime;
     -->

    <sql id="fields">
        id,code, name,create_time createTime
    </sql>

    <select id="selectItemByCode" parameterType="java.lang.String"
            resultType="redis.demo.breakdown.server.entity.Item">
        SELECT
        <include refid="fields"/>
        FROM
        item
        WHERE
        code = #{code}
    </select>

</mapper>